@model IEnumerable<LocationViewModel>

<a class="btn btn-primary" asp-action="CreateLocation">Add new Location</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">OpensAt</th>
            <th scope="col">ClosesAt</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            string openAt = item.OpensAt.ToString();
           DateTime openAtDatetime = DateTime.Parse(openAt);
            string openAtString = openAtDatetime.ToShortTimeString();

            string closeAt = item.ClosesAt.ToString();
            DateTime closeAtDatetime = DateTime.Parse(closeAt);
            string closeAtString = closeAtDatetime.ToShortTimeString();

            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@openAtString</td>
                <td>@closeAtString</td>
                <td>
                    <a asp-controller="Location" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Location" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </tr>
        }
    </tbody>
</table>